<!-- Covrege Where the covrege Photos stored and the user can search be the fice -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="covrege.css">
  <link rel="icon" href="./photo-club-icon.ico" type="image/x-icon">

  

  <title><%= covrg %></title>

</head>

<body>
  <div id="bigdiv">
    <img src="" id="largeImage">
  </div>
  <header>
    <%- include('header') %>
  </header>

  <main>

    
    <div class="covregeContaner">
      <h3>
        <%= covrg %>
      </h3>
      

      <div class="gallery" id="gallery">
        <% files.forEach(function(file) { %>
          <% if(file.folder === covrg) { %>
            

          <div class="photo">
            <img src="<%= file.url %>" alt="---">
            <span>
              <i class="bi bi-cloud-download downloadIcon"></i>
              <i class="bi bi-eye eyeIcon"></i>
              <% if (userRole == "admin") { %>
                <i class="bi bi-trash3 deleteIcon" data-name="<%= file.encodedurl %>"></i>
              <% } %>
            </span>
          </div>
          <% } %>
          <% }); %>
      </div>
    </div>
    
    
    <div class="button-add-search">
      <form action="/upload" method="post" enctype="multipart/form-data" style="display: none;">
        <input required id="fileInput" type="file" name="files" multiple class="form-control" style="display: none;">
        <input required type="text" name="folder" placeholder="folder name" class="form-control" value="<%= covrg %>">
      </form>

      <form action="/search" method="post" enctype="multipart/form-data" style="display: none;">
        <input required id="fileSearch" type="file" name="files" multiple class="form-control" style="display: none;">
        <input required type="text" name="folder" placeholder="folder name" class="form-control" >
      </form>

      <% if (userRole=="admin" || userRole=="user" ) { %>
        <button type="button" id="addButton" class="btn btn-outline-primary">Add</button>
      <% } %>
      <button type="button" id="searchButton" class="btn btn-outline-secondary">Search</button>
      </div>

  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
// $(document).ready(() => {
//     fetchFile(); // Call the fetchFile function.
// });

// Defines the fetchFile function.



function fetchFile() {
  
    // Send an AJAX GET request to the '/files' URL.
    $.ajax({
        url: '/files', // URL to fetch files from.
        method: 'GET', // HTTP method used.
        success: function(data) { // Function to call when request is successful.
            console.log("entered")
        },
        error: function(xhr, status, error) { // Function to call when request fails.
            console.error("Error fetching files: " + error); // Log error to console.
        }
    });
}

// Defines the attachDeleteHandlers function.




// Upload files// search files 
document.addEventListener('DOMContentLoaded', function () {

  document.getElementById('searchButton').addEventListener('click', function () {
    document.getElementById('fileSearch').click();
  });

    document.getElementById('fileSearch').addEventListener('change',function () {
      // add image to tmp folder
      console.log('search clicked');
      var image = event.target.files[0];
      if (image){
        var formData = new FormData();
        formData.append('files', image);
        formData.append('folder', 'searchTemp');  
        fetch('/upload', {
          method: 'POST',
          body: formData
        }).then(response => {
          if (response.ok) {
            console.log('Files uploaded successfully');
            return fetch('/search', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  "folder": "<%= covrg %>",
                  "img": `searchTemp/${image.name}`
              })
          });
          } else {
            console.error('Upload failed');
          }
        }).then(searchResponse => {
          if (searchResponse.ok) {
              return searchResponse.json();
          } else {
              console.error('Search request failed');
          }
      }).then(data => {
          const files = data.files;
          console.log('received files:',data);
          updateGallery(files); // Update the gallery with the search results
      }).catch(err => console.error('Error:', err));

      }
      
    });
    })


    function updateGallery(files) {
      // Clear existing content in the gallery
      var gallery = document.getElementById('gallery');
      gallery.innerHTML = '';
  
      // Iterate through the files and append images to the gallery
      files.forEach(function (file) {
          var photoDiv = document.createElement('div');
          photoDiv.className = 'photo';
  
          var img = document.createElement('img');
          img.src = file.url;
          img.alt = '---';
  
          var span = document.createElement('span');
          span.innerHTML = `
              <i class="bi bi-cloud-download downloadIcon"></i>
              <i class="bi bi-eye eyeIcon"></i>
              <i class="bi bi-trash3 deleteIcon" data-name="${file.encodedurl}"></i>
          `;
  
          photoDiv.appendChild(img);
          photoDiv.appendChild(span);
  
          gallery.appendChild(photoDiv);
      });
  }
  
// upload images
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('addButton').addEventListener('click', function () {
        document.getElementById('fileInput').click();
    });

    document.getElementById('fileInput').addEventListener('change', function (event) {
        var files = event.target.files;
        if (files) {
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }
            formData.append('folder', '<%= covrg %>'); // Set folder name

            // Make an AJAX request to the server
            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    console.log('Files uploaded successfully');
                    window.location.reload(); // Reload the page after successful upload
                } else {
                    console.error('Upload failed');
                }
            }).catch(err => console.error('Error:', err));
        }
    });
});



    let largeImage = document.getElementById('largeImage');
    largeImage.display = 'none';
    document.querySelector('#bigdiv').addEventListener('click', function (e) {
      if (e.target.class !== 'eyeIcon' ) {
        largeImage.src = '';
        bigdiv.style.display = 'none';
      }
    });

    function attachDownloadHandlers() {
      var downloadIcons = document.getElementsByClassName('downloadIcon');
      for (var i = 0; i < downloadIcons.length; i++) {
        downloadIcons[i].addEventListener('click', function () {
          var url = this.parentElement.parentElement.children[0].src;
          var link = document.createElement('a');
          link.href = url;
          link.download = url.substr(url.lastIndexOf('/') + 1);
          link.click();
        });
      }
    }


function attachDeleteHandlers() {
    // Attach a click event listener to all elements with the 'delete-button' class.
    $('.deleteIcon').click(function() {
      console.log("enter delete handler");
        var fileName = $(this).data('name'); // Get the file name stored in the data-name attribute.
        if(confirm("Are you sure you want to delete the file " + fileName + "?")){ // Show a confirmation dialog.
            deleteFile(fileName) 
// If confirmed, call the deleteFile function with the file name.
        }
    window.location.reload(); // Reload the page after successful upload

    });

}


// Defines the deleteFile function.
function deleteFile(fileName) {
  console.log("enter delete file");
  // Send an AJAX DELETE request to the '/files/[fileName]' URL.
  $.ajax({
      url: '/files/' + fileName,
      method: 'DELETE',
      success: function(data) {
          console.log("Entered delete file "+ data);
          fetchFile(); // Call the fetchFile function to reload the updated files list.
      },
      error: function(xhr, status, error) {
          console.error("Error deleting file. Status: " + status + ", Error: " + error);
          console.log(xhr); // Log the entire XMLHttpRequest object for detailed information.
      }
  });
}


    function attachViewHandlers() {
  var viewIcons = document.getElementsByClassName('eyeIcon');
  for (var i = 0; i < viewIcons.length; i++) {
    viewIcons[i].addEventListener('click', function (e) {
      var url = this.parentElement.parentElement.children[0].src;
      largen(url);
    });
  }
}
    function largen(url){
      bigdiv = document.getElementById('bigdiv')
      bigdiv.style.display = 'flex';
      bigdiv.style.opicity = '0.9';
      bigdiv.style.width = window.innerWidth + 'px';
      bigdiv.style.height = window.innerHeight + 'px';
      bigdiv.style.position = 'fixed';
      largeImage.src = url;
      largeImage.style.zIndex = '100';
      largeImage.style.maxWidth = '80%';
      largeImage.style.maxHeight = '90%';
    } 


// Run the attachDeleteHandlers function when the deleteIcon is clicked.
// attachDeleteHandlers();
    attachDeleteHandlers();
    attachDownloadHandlers();
    attachViewHandlers();


    </script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->


    </body>

    </html>
