<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>
        <link rel="stylesheet" href="eventCard.css">
        <link rel="stylesheet" href="covregeCard.css">
        <title>Events</title>
</head>

<body>

    <header>
        <%- include("header") %>

    </header>

    <main>
        <section class="cardsContainer">
            <h1>Events</h1>

            <div class="cont">
                <% events.forEach(event => { %>
                    
                <div class="eventCard">
                    <div class="titlePar">
                        <span class="cardTitle"><%= event.title %></span>
                        <button type="button" class="btn btn-outline-light btn-sm registerButton">Register</button>
                    </div>
            
                    <p class="cardcontent">
                        <%= event.description %><br>
                    </p>
            
                    <div class="cardDetails">
                        <span>Date: <%= event.date %></span>
                        <span>Time: <%= event.time %></span>
                        <span>Location: <%= event.location %></span>
                    </div>
                </div>
               <%  }); %>

            
                <div class="eventCard">
                    <div class="titlePar">
                        <span class="cardTitle">Portrait photography</span>
                        <button type="button" class="btn btn-outline-light btn-sm registerButton">Register</button>
                    </div>

                    <p class="cardcontent">Short course in portrait photography by Mr. Mohammad Shabeb<br>
                        Don’t miss this chance <br>
                        Note: “your attend count with non academic activities“
                    </p>

                    <div class="cardDetails">
                        <span>Date: 7/10/2023</span>
                        <span>Time: 7:30 PM</span>
                        <span>Location: Building 19 - 210</span>
                    </div>
                </div>



            </div>






        </section>
    </main>

</body>

</html>